@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*This is the new Movie List view. We can see all of the movies that have been submitted.*@
@model List<Movie>

<table class="table table-bordered">

	<thead class="fw-bold">
		<tr>
			<th>Movie Id</th>
			<th>Category</th>
			<th>Title</th>
			<th>Year</th>
			<th>Director</th>
			<th>Rating</th>
			<th>Edited</th>
			<th>LentTo</th>
			<th>CopiedToPlex</th>
			<th>Notes</th>
		</tr>
	</thead>
	@*Loop through to get each record correctly.*@
	@foreach (var x in Model)
	{
		<tbody>
			<tr>
				<td>@x.MovieId</td>
				<td>@x.CategoryId</td>
				<td>@x.Title</td>
				<td>@x.Year</td>
				<td>@x.Director</td>
				<td>@x.Rating</td>
				<td>@x.Edited</td>
				<td>@x.LentTo</td>
				<td>@x.CopiedToPlex</td>
				<td>@x.Notes</td>

				@*Include an Edit button and a Delete button to edit or delete each respective record.*@
				<td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.MovieId">Edit</a></td>
				<td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.MovieId">Delete</a></td>
			</tr>
		</tbody>
	}

</table>